<template>
  <div class="w-full pt-10">
    <div class="text-center text-xl">Application self-checks</div>
    <table
      class="w-full divide-y-2 divide-gray-200 bg-blue-50 text-sm dark:divide-gray-700 dark:bg-gray-900"
    >
      <thead class="divide-y divide-gray-200 dark:divide-gray-700">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
            Check
          </th>
          <th class="whitespace-pre px-4 py-2 font-medium text-gray-900 dark:text-white">
            Status
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
            Action
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
        <tr
          v-for="(check, index) in checks"
          :key="check.name"
          class="odd:bg-blue-100 dark:odd:bg-gray-800/50"
        >
          <td class="text-center whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
            {{ check.name }}
          </td>
          <td class="px-4 py-2 text-gray-700 dark:text-gray-200">
            <div v-if="check.ok == undefined" class="text-center text-yellow-500 dark:text-yellow-300">
              {{ check.status }}
            </div>
            <div v-else-if="check.ok" class="whitespace-pre text-emerald-700 dark:text-emerald-300">
              {{ check.status }}
            </div>
            <div v-else class="whitespace-pre text-red-700 dark:text-red-300">
              {{ check.status }}
            </div>
          </td>
          <td class="text-center whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
            <button
              class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
              v-on:click="
                () => {
                  callApi(index, check.api_path)
                }
              "
            >
              Check backend again
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import axios from 'axios'

export default {
  name: 'BackendStatus',
  data() {
    return {
      checks: [
        {
          name: 'Backend API up and running',
          api_path: '/api/',
          status: 'Not checked',
          ok: undefined as boolean | undefined
        },
        {
          name: 'Backend Tasks up and running',
          api_path: '/api/task',
          status: 'Not checked',
          ok: undefined as boolean | undefined
        },
        {
          name: 'Backend DB up and running',
          api_path: '/api/database',
          status: 'Not checked',
          ok: undefined as boolean | undefined
        },
        {
          name: 'Scheduled job up and running',
          api_path: '/api/scheduled_job',
          status: 'Not checked',
          ok: undefined as boolean | undefined
        }
      ]
    }
  },
  methods: {
    async callApi(check_index: number, api_path: string) {
      try {
        const response = await axios.get(api_path)
        if (response.status != 200) {
          console.log("Got error from the backend!", response)
          this.checks[check_index].status = `Error getting to the backend: ${response}`
          this.checks[check_index].ok = false
        }
        this.checks[check_index].status = response.data
        this.checks[check_index].ok = true
        console.log("Got reply from the backend!", response.data)
      } catch (error) {
        console.log("Got generic error!", error)
        this.checks[check_index].status = `Error from the backend: ${error}`
        this.checks[check_index].ok = false
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
</style>
