<script setup lang="ts">
defineProps<{
    card_name: string,
    data: {
        date: string,
        scenarios: {
            [key:string]: string[]
        }
    },
}>();
</script>

<template>
    <div class="grow text-center place-content-center flex flex-col justify-center" v-if="data">
    <div class="font-bold">{{ card_name }}: {{ data.date }}</div>
    <div class="flex justify-center">
        <table
        class="w-1/2 divide-y-2 divide-gray-200 bg-blue-50 text-sm dark:divide-gray-700 dark:bg-gray-900">
        <thead>
            <th class="font-bold">Scenario</th>
            <th class="font-bold">Num steps</th>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            <tr 
                class="odd:bg-blue-100 dark:odd:bg-gray-800/50"
                v-for="(scenario_data, scenario) in data.scenarios" :key="scenario"
            >
                <td>
                    {{ scenario }}
                </td>
                <td class="flex flex-row items-center">
                    <div class="ml-2 mr-1">{{ scenario_data.length }}</div>
                    <div class="group">
                        <div>ⓘ</div>
                        <div
                        class="hidden group-hover:block duration-300 absolute text-left bg-white dark:bg-gray-700 font-semibold px-5 py-1"
                        >
                            <li v-for="step in scenario_data" :key="step">
                                {{ step }}
                            </li>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>  
        </table>
    </div>
    </div>
</template>
