<script setup lang="ts">
import DeployStepsSummaryCard from "./DeployStepsSummaryCard.vue";
</script>

<template>
  <div class="flex flex-row pt-10">
    <div class="text-center text-xl content-center">Deployment steps comparison:</div>
    <div class="w-full" v-if="loading">
      Loading the deployment data...
    </div>
    <div class="w-full" v-else-if="errored">
      Got error: {{ data }}
    </div>
    <div class="w-full flex flex-row flex-auto place-content-center" v-else>

      <div class="grow text-center place-content-center flex flex-col justify-center" v-if="first_data">
        <DeployStepsSummaryCard card_name="First deploy" :data=first_data />
      </div>
      <div class="grow text-center place-content-center flex flex-col justify-center" v-if="last_data">
        <DeployStepsSummaryCard card_name="Last deploy" :data=last_data />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios'

export default {
  name: 'DeploymentData',

  data() {
    return {
      data: null,
      loading: true,
      errored: false,
      first_data: null,
      last_data: null,
    }
  },
  mounted() {
    axios.get("https://tools-static.wmflabs.org/sample-complex-app/deployment_steps.json").then(
      response => {
        this.data = response.data
        this.first_data = response.data[0]
        this.last_data = response.data[response.data.length - 1]
      }
  ).catch(error => {
    console.log(error)
    this.errored=true
    this.data=error
  }).finally( () => this.loading = false)
  },
}
</script>
