<script setup lang="ts">
import DeploymentStepsPanel from "./DeploymentStepsPanel/DeploymentStepsPanel.vue";
import ChecksDashboard from "./ChecksDashboard/ChecksDashboard.vue";

defineProps<{
    msg: string,
}>();
</script>

<template>
  <div class="w-full">
    <h1
      class="whitespace-nowrap text-gray-900 dark:text-white text-2xl text-center"
    >
      {{ msg }}
    </h1>
    <DeploymentStepsPanel />
    <ChecksDashboard />
  </div>
</template>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
</style>
